.gradient-custom-2 {
    /* fallback for old browsers */
    background: #1f42e0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right,
        rgb(33, 80, 233),
        rgb(118, 255, 244)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right,
        rgb(33, 80, 233),
        rgba(118, 255, 244, 0.5)
    );
}

.mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 1em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

a {
    text-decoration: none!important;
}

